<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cesta Básica</title>
    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">

    <!-- Plugin CSS -->
    <link href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/freelancer.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Cesta Básica</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button"
                data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/cestabasica/">Inicio</a>
                </li>
                <!--                <li class="nav-item mx-0 mx-lg-1">-->
                <!--                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">Sobre</a>-->
                <!--                </li>-->
                <!--                <li class="nav-item mx-0 mx-lg-1">-->
                <!--                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contato</a>-->
                <!--                </li>-->
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/cestabasica/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br><br>


<section class="portfolio" id="portfolio">
    <div class="container">
        <h1>Metodologia de Pesquisa da Cesta Básica</h1>

        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>CESTA BÁSICA</th>
                    <th>ALIMENTAÇÃO COMPLEMENTAR</th>
                    <th>HIGIENE PESSOAL</th>
                    <th>LIMPEZA/COZINHA</th>
                </tr>
                <tr>
                    <td>Carne 4,5 Kg</td>
                    <td>Bolacha salgada 400 g</td>
                    <td>Papel higiênico 80 M</td>
                    <td>Sabão em pó 500 Kg</td>
                </tr>
                <tr>
                    <td>Leite 6,0 L</td>
                    <td>Macarrão 500 g</td>
                    <td>Creme dental 90 g</td>
                    <td>Sabão em barra 400 g</td>
                </tr>
                <tr>
                    <td>Feijão 4,5 Kg</td>
                    <td>Ovos 8 unid.</td>
                    <td>Sabonete 225 g</td>
                    <td>Água sanitária 500 mL</td>
                </tr>
                <tr>
                    <td>Arroz 3,6 Kg</td>
                    <td>Frango 1,2 Kg</td>
                    <td>Absorvente 10 Unid.</td>
                    <td>Detergente 300 mL</td>
                </tr>
                <tr>
                    <td>Farinha 3,0 Kg</td>
                    <td>Sal 125 g</td>
                    <td>Desodorante spray 150 mL</td>
                    <td>Desinfetante 500 mL</td>
                </tr>
                <tr>
                    <td>Legumes (Tomate) 12,0 Kg</td>
                    <td>Extrato de tomate 150 g</td>
                    <td>Lâmina de barbear 4 Unid.</td>
                    <td>Esponja de aço 2 Pacotes/16 unid.</td>
                </tr>
                <tr>
                    <td>Pão francês 6,0 Kg</td>
                    <td>Vinagre 240 mL</td>
                    <td></td>
                    <td>Fósforos 3 Caixa</td>
                </tr>
                <tr>
                    <td>Café em pó 300 g</td>
                    <td>Batata 6,0 Kg</td>
                    <td></td>
                    <td>Gás de cozinha 5.2 Kg</td>
                </tr>
                <tr>
                    <td>Frutas (Banana) 90 Unid.</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Açúcar 3,0 Kg</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Banha/Óleo 750 mL</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Manteiga 750 g</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <p style=" text-align: justify">
            Os produtos presentes da tabela foram selecionados com base na tabela
            de provisões mínimas estipuladas pelo Decreto Lei n◦ 399 de 1938 para o cálculo da
            cesta básica. Para complementar a pesquisa com mais produtos foram incluídos na
            pesquisa outros produtos que também são consumidos pela população da cidade e que
            se encontram também nas pesquisas da Fundação <a target="_blank"
                                                             href="https://www.procon.sp.gov.br/pesquisa-de-cesta-basica/">PROCON
            SP</a> e do <a target="_blank"
                           href="https://www.portal.ap.gov.br/">PROCON/AP</a>.<br>
            Orientado pela metodologia do <a target="_blank"
                                             href="https://www.dieese.org.br/metodologia/metodologiaCestaBasica.pdf">DIEESE</a>
            e seguindo a lista de produtos da
            tabela os alunos que participaram da pesquisa visitam todo mês 10 supermercados
            dentro da cidade de Paraíso do Tocantins, com base nas vendas dos produtos dentre
            esses supermercados após análise com base em produtos mais vendidos são as três
            marcas de cada tipo presente na tabela.
            Para fazer o cálculo do preço dos produtos em relação ao percentual de consumo
            definido na quantidade da cesta básica foi utilizado a seguinte regra de 3.</p>
        <div style=" text-align: center">
            <!--           <span lang="latex">-->
            <!--               \frac{\textup{Base Produto}^3 }{\textup{Pre{\c c}o Produto}^1}= \frac{\textup{Base de C{\'a}lculo}^2 }{\textup{Pre{\c c}o Percentua}^4}-->
            <!--            </span>-->
            <img src="http://latex.codecogs.com/gif.latex?\frac{\textup{Base Produto}^3 }{\textup{Pre{\c c}o Produto}^1}= \frac{\textup{Base de C{\'a}lculo}^2 }{\textup{Pre{\c c}o Percentua}^4}"
                 border="0"/>
        </div>
        <p style=" text-align: justify">
            <sup>1</sup> Preço Produto: Preço do produto pesquisado exatamente como no estabelecimento.<br>
            <sup>2</sup> Base de Cálculo: Quantidade estipulada para o consumo conforme a tabela.<br>
            <sup>3</sup> Base Produto: Quantidade do produto na
            embalagem vendida no estabelecimento.<br>
            <sup>4</sup> Preço Percentual: Esse é o valor calculado e corresponde ao valor do produto se comprasse
            exatamente a
            quantidade estipulada na tabela.<br>
            <br>
            Para saber quanto seria o custo de um produto levando em conta a quantidade
            da tabela é feito a média de todos os preços percentual do tipo do produto, esse cálculo
            leva em conta todos os estabelecimentos que tem aquele produto. Para calcular o valor
            da cesta básica, é necessário somar a média dos preços percentuais dos produtos na
            tabela que estão incluídos na cesta básica.
        </p>
    </div>
</section>
<footer>
    <div class="copyright py-4 text-center text-white">
        <div class="container">
            <small><i>É concedida permissão para copiar e distribuir todos os dados sob os termos da GNU Free
                Documentation License, Versão 1.3 publicada pela Free Software Foundation.</i></small><br>
            <b>Contato: labirinto.paraiso@ifto.edu.br</b><br>
            <small>Instituto Federal de Educação, Ciência e Tecnologia do Tocantins</small><small>Campus Paraíso do
            Tocantins</small><br>
            <small>Freelance is a free to use, open source Bootstrap theme created by-->
                <a href="http://startbootstrap.com">Start Bootstrap</a>.</small><br>
            <small>Copyright © 2020</small><br>
        </div>
    </div>
</footer>
<script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

<!-- Contact Form JavaScript -->
<script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
<script src="{% static 'js/contact_me.js' %}"></script>

<!-- Custom scripts for this template -->
<script src="{% static 'js/freelancer.min.js' %}"></script>
</body>
</html>