<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <title>Política de privacidade</title>
</head>
<body>
<h1 align="center">Política de privacidade para Cesta Básica Paraíso</h1>

<h3>PRIVACIDADE DO USUÁRIO</h3>
Esse aplicativo ainda não foi projetado para coletar dados dos usuários, as requisições de dados são exclusivamente para atualização dos valores de preço da Cesta Básica, em nenhum momento é enviado nenhum dado dos usuários. No entanto poderá ser feita uma atualização futura que pegue colete dados dos usuários, todas as suas informações pessoais recolhidas, serão usadas para o ajudar a tornar a sua visita no nosso aplicativo o mais produtiva e agradável possível.
A garantia da confidencialidade dos dados pessoais dos utilizadores do nosso site é importante para o Cesta Básica Paraíso.
Todas as informações pessoais relativas a visitantes que usem o Cesta Básica Paraíso serão tratadas em concordância com a Lei da Proteção de Dados Pessoais de 26 de outubro de 1998 (Lei n.º 67/98).
A informação pessoal recolhida pode incluir o seu nome, e-mail, número de telefone e/ou telemóvel, morada, data de nascimento e/ou outros.

<h3>OS ANÚNCIOS</h3>
Ativamente não há nehum anúncio ativo no aplicativo, mais é reservado o direito de inserção de anúncios a qualquer momento, seguindo o seguinte procedimento: tal como outros aplicativos, coletamos e utilizamos informação contida nos anúncios. A informação contida nos anúncios, inclui o seu endereço IP (Internet Protocol), o seu ISP (Internet Service Provider, como o Sapo, Clix, ou outro), o browser que utilizou ao visitar o nosso website (como o Internet Explorer ou o Firefox), o tempo da sua visita e que páginas visitou dentro do nosso website.

<h3>LIGAÇÕES A SERVIÇOS TERCEIROS</h3>
O Cesta Básica Paraíso pode possuir ligações para outros sites, os quais, a nosso ver, podem conter informações / ferramentas úteis para os nossos visitantes. A nossa política de privacidade não é aplicada a sites de terceiros, pelo que, caso visite outro site a partir do nosso deverá ler a politica de privacidade do mesmo. Não nos responsabilizamos pela política de privacidade ou conteúdo presente nesses mesmos sites.

<h3>ALTERAÇÕES PARA ESSA POLÍTICA DE PRIVACIDADE</h3>
O uso do Cesta Básica Paraíso pressupõe a aceitação deste Acordo de privacidade. Reservamos o direito de modificar essa política de privacidade a qualquer momento, então por favor, revise-a com frequência. Alterações e esclarecimentos vão surtir efeito imediatamente após sua publicação no site. Se fizermos alterações de materiais para essa política, iremos notificá-lo aqui que eles foram atualizados, para que você tenha ciência sobre quais informações coletamos, como as usamos, e sob que circunstâncias, se alguma, usamos e/ou divulgamos elas.

<h3>CONTATO</h3>
Todo contato sobre qualquer assunto relacionado ao aplicativo deve ser feito pelo e-mail: labirinto.paraiso@ifto.edu.br. Há também o site disponível em https://campusparaiso.ifto.edu.br/cestabasica/ que contém as mesmas informações presentes no aplicativo.

</body>
</html>